# RStudio project settings
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# System files
.DS_Store
Thumbs.db

# R Markdown knitted outputs
*.html
*.pdf
*.docx

# Cache folders (knitr / quarto)
*_cache/
*/_cache/
*/cache/

# Figures and large outputs

**/outputs/
outputs_reports/
