# -------------------------
# R / RStudio
# -------------------------
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Quarto / knitr cache (safe to ignore)
# -------------------------
.quarto/
*_cache/
**/*_cache/

# -------------------------
# Optional: ignore temp/log
# -------------------------
*.log
*.tmp

/.quarto/
.Rproj.user/
